/* Just one import for all of Tailwind */
@import "tailwindcss";

/* Optional custom layers */
@layer base {
  body {
    @apply text-black;
  }
}
@layer components {
  .add-button {
    @apply text-white disabled:opacity-60 disabled:cursor-not-allowed;
    background-color: #F75807; /* default */
  }

  .add-button:hover {
    background-color: #D24B06; /* hover */
  }
  .title-of-the-product {
    @apply text-gray-900 font-semibold;
    color: #192b5e; /* default */
  }
  .baby-blue {
    @apply text-white disabled:opacity-60 disabled:cursor-not-allowed;
    background-color: #7eccf0; /* default */
  }
}
